.about {
	display: flex;
	flex-direction: column;
	margin-bottom: 20rem;
	font-size: 2.2rem;

	@media only screen and (max-width: $bp-medium) {
		margin-bottom: 10rem;
	}

	@media only screen and (max-width: $bp-smallest) {
		margin-bottom: 5rem;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 17rem;

		@media only screen and (max-width: $bp-medium) {
			flex-direction: column;
			margin-bottom: 10rem;
		}

		@media only screen and (max-width: $bp-small) {
			margin-bottom: 5rem;
		}

		@media only screen and (max-width: $bp-tiny) {
			margin-bottom: 3rem;
		}
	}

	&__title._active {
		animation: moveToBottom 0.4s;
		animation-fill-mode: forwards;
	}
	&__title {
		text-transform: uppercase;
		opacity: 0;

		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 3rem;
		}

		p {
			color: #848484;
			margin-bottom: 2.6rem;

			@media only screen and (max-width: $bp-medium) {
				margin-bottom: 1rem;
			}
		}

		h1 {
			margin: 0;
			padding: 0;
			font-family: "PlayfairDisplay-Regular";
			font-size: 6rem;

			@media only screen and (max-width: $bp-smallest) {
				font-size: 3rem;
			}
		}
	}

	&__line._active {
		animation: moveToBottom 0.4s;
		animation-delay: 0.4s;
		animation-fill-mode: forwards;
	}

	&__line {
		opacity: 0;
		width: 3px;
		height: 13rem;
		background-color: #474747;

		@media only screen and (max-width: $bp-medium) {
			width: 13rem;
			height: 3px;
		}
	}

	&__descr._active {
		animation: moveToBottom 0.4s;
		animation-delay: 0.8s;
		animation-fill-mode: forwards;
	}

	&__descr {
		opacity: 0;
		width: 57rem;
		color: #adadad;

		@media only screen and (max-width: $bp-medium) {
			padding: 3rem 0;
			text-align: center;
		}

		@media only screen and (max-width: $bp-small) {
			padding: 2rem 0;
			width: 30rem;
			font-size: 1rem;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		list-style: none;

		@media only screen and (max-width: $bp-medium) {
			justify-content: space-around;
		}

		@media only screen and (max-width: $bp-medium) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}

	&__item {
		opacity: 0;
		width: 17rem;
		height: 13rem;
		text-align: center;

		&:first-child._active {
			animation: moveToRight 0.4s;
			animation-fill-mode: forwards;
		}
		&:nth-child(2)._active {
			animation: moveToRight 0.4s;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;
		}
		&:nth-child(3)._active {
			animation: moveToRight 0.4s;
			animation-delay: 0.9s;
			animation-fill-mode: forwards;
		}
		&:last-child._active {
			animation: moveToRight 0.4s;
			animation-delay: 1.3s;
			animation-fill-mode: forwards;
		}

		@media only screen and (max-width: $bp-medium) {
			flex-basis: 50%;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;

			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom: 4rem;
			}
		}

		figure {
			position: relative;
			@media only screen and (max-width: $bp-medium) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				@media only screen and (max-width: $bp-small) {
					width: 9rem;
					height: 9rem;
				}
				@media only screen and (max-width: $bp-smallest) {
					width: 7rem;
					height: 7rem;
				}

				@media only screen and (max-width: $bp-tiny) {
					width: 6rem;
					height: 6rem;
				}
			}
		}

		figcaption {
			font-family: "BebasNeue-Bold";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 8rem;
			color: white;

			@media only screen and (max-width: $bp-medium) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: 5rem;
			}

			@media only screen and (max-width: $bp-smallest) {
				font-size: 3.5rem;
			}

			@media only screen and (max-width: $bp-tiny) {
				font-size: 3rem;
			}
		}

		p {
			padding: 2rem 0;

			@media only screen and (max-width: $bp-small) {
				font-size: 2rem;
			}

			@media only screen and (max-width: $bp-tiny) {
				font-size: 1.5rem;
			}
		}
	}
}
