@keyframes moveToRight {
	0% {
		transform: translateX(-5rem);
		opacity: 0;
	}
	100% {
		transform: translate(0rem);
		opacity: 1;
	}
}

@keyframes moveToRightTransform {
	0% {
		transform: translateX(10%);
		opacity: 0;
	}
	100% {
		transform: translate(50%);
		opacity: 1;
	}
}

@keyframes moveToBottom {
	0% {
		transform: translateY(-5rem);
		opacity: 0;
	}
	100% {
		transform: translate(0rem);
		opacity: 1;
	}
}
