//COLORS VARIABLES

$color-white: #fff;
$color-primary: #252525;
$color-secondary: #333333;
$color-black: #000;
$color-black-light: #1b1b1b;

$color-yellow-dark: #c09f48;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-tiny: 25em; // 400px

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

body {
	font-family: "Gotham Pro-Light";
	color: $color-white;
	background-color: $color-primary;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $bp-medium) {
		&.lock {
			overflow: hidden;
		}
	}
}

.container {
	max-width: 144rem;
	margin: 0 auto;

	@media only screen and (max-width: $bp-largest) {
		max-width: 100%;
		width: 100%;
	}
}

.title {
	font-family: "PlayfairDisplay-Regular";
	font-size: 6rem;
	color: $color-white;
	text-align: center;

	@media only screen and (max-width: $bp-medium) {
		font-size: 5rem;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 4rem;
	}

	@media only screen and (max-width: $bp-smallest) {
		font-size: 3rem;
	}
}
