@font-face {
	font-family: "Playfair Display Regular  ";
	src: local("PlayfairDisplay-Regular"),
		url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
		url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu Regular";
	src: local("Ubuntu-Regular"),
		url("../fonts/Ubuntu-Regular.woff") format("woff"),
		url("../fonts/Ubuntu-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BebasNeue-Bold";
	src: local("BebasNeueBold"), url("../fonts/BebasNeueBold.woff") format("woff"),
		url("../fonts/BebasNeueBold.ttf") format("truetype");
}
