.footer {
	background-color: #1b1b1b;
	padding: 11rem 0 5rem 0;

	@media only screen and (max-width: $bp-medium) {
		padding: 5rem 0 5rem 0;
	}

	@media only screen and (max-width: $bp-medium) {
		padding: 3rem 0 2rem 0;
	}

	&__about-wrapper,
	&__social-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: $bp-medium) {
			flex-direction: column;
		}
	}

	&__about {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media only screen and (max-width: $bp-medium) {
			text-align: center;
			margin-bottom: 5rem;
		}
	}

	&__title {
		font-family: "PlayfairDisplay-Regular";
		font-size: 6rem;
		padding-bottom: 5rem;
	}

	&__descr {
		color: $color-white;
		opacity: 0.5;
		font-size: 1.6rem;
		width: 50rem;
	}

	&__logo {
		margin-right: 17rem;

		@media only screen and (max-width: $bp-medium) {
			margin: 0;
			margin-bottom: 3rem;
		}
	}

	&__social {
		margin-top: 10rem;

		@media only screen and (max-width: $bp-medium) {
			margin: 0;
			display: flex;
		}
	}

	&__item {
		cursor: pointer;
		font-size: 1.6rem;
		padding-bottom: 2rem;
		transition: all 0.2s;

		@media only screen and (max-width: $bp-medium) {
			padding: 2rem;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover {
			color: $color-yellow-dark;
		}

		span {
			@media only screen and (max-width: $bp-medium) {
				display: none;
			}
		}
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		fill: $color-yellow-dark;
		margin-right: 2rem;

		@media only screen and (max-width: $bp-medium) {
			margin: 0;
			margin-bottom: 3rem;

			&:hover {
				fill: $color-white;
			}
		}
	}

	&__instagram {
		h4 {
			font-size: 2.4rem;
			color: $color-white;
			text-transform: uppercase;
			font-family: "PlayfairDisplay-Regular", sans-serif;
			margin-bottom: 2rem;

			a {
				&:link,
				&:visited {
					color: inherit;
					text-decoration: none;
					transition: all 0.3s;

					&:hover {
						color: $color-yellow-dark;
					}
				}
			}

			@media only screen and (max-width: $bp-medium) {
				text-align: center;
			}
		}
	}

	&__inst-wrapper {
		display: flex;

		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 5rem;
		}

		figure {
			cursor: pointer;
			margin-right: 2rem;
			@media only screen and (max-width: $bp-medium) {
				margin-right: 1rem;
			}

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 13rem;
		list-style: none;

		@media only screen and (max-width: $bp-medium) {
			justify-content: space-around;
			margin: 0;
		}

		@media only screen and (max-width: $bp-small) {
			display: none;
		}
	}

	&__list-item:not(:last-child) {
		padding-right: 5rem;

		@media only screen and (max-width: $bp-medium) {
			padding: 0;
		}
	}

	&__link {
		&:link,
		&:visited {
			font-size: 1.8rem;
			color: $color-white;
			opacity: 0.6;
			text-decoration: none;
			transition: all 0.2s;
		}

		&:hover {
			opacity: 1;
		}
	}
}
